/* Meu CSS */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    
    margin: 0px;
    padding: 0px;
    
}

html{
    
    font-size: 62.5%;
    ;
    font-family: 'Montserrat', sans-serif;
    

}
body{
	background-color: #1e1f20;  	
}

.border{
    border: solid rgb(27, 27, 109);
    border-radius: 20%;
}


.menu-content{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 1.0rem;
}

.menu-content .list-itens{
    justify-content: center;
    display: flex;
    list-style: none;
    position:absolute;
    height: 5px;
    width: 50vh;
}



.flex{
    justify-content: space-between;
}


.center{
    align-items: center;
}

.stretch{
    align-items: stretch;
}

.flex-start{
    align-items: flex-start;
}

.flex-end{
    align-items: flex-end;
}

.baseline{
    align-items: baseline;
}

.column{
    flex-direction: column;
}

.central{
    height: 300px;
    justify-content: center;
}

.central .item{
    flex:0;
    padding: 20px;
}

.item{
    font-size: 15px;
}

/*topo direita inferior esquerdo*/
/*zero nao precisa usar unidade*/




