/* Meu CSS */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    
    margin: 0px;
    padding: 0px;
    
    
}

html{
    
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    
    

}
body{
	background-color: #251f1f;  	
}

.border{
    border: solid rgb(222, 222, 233);
    border-radius: 20%;
}

.color{
    border: solid rgb(160, 160, 187) 1px;
    border-radius: 1%;
    background-color: #f3f9ff; 
}


.flex{
    justify-content: space-between;
}


.center{
    align-items: center;
}

.stretch{
    align-items: stretch;
}

.flex-start{
    align-items: flex-start;
}

.flex-end{
    align-items: flex-end;
}

.baseline{
    align-items: baseline;
}

.center{
    text-align:   center;
}

.column{
    flex-direction: column;
}

.central{
    height: 300px;
    justify-content: center;
}

.central .item{
    flex:0;
    padding: 20px;
}

.item{
    font-size: 15px;
}

/*topo direita inferior esquerdo*/
/*zero nao precisa usar unidade*/




