@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,400;1,100&family=Noto+Sans+Display:ital,wght@0,100;0,200;1,100&family=Quicksand:wght@400;500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
* {
    
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(207, 108, 108);
}
.container{
    
    background-image: url("imagens/bg.jpg") ;
    
}
.item {
    background-color: aqua;
    margin: 5px;
}
header {
    
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: absolute;
}

#slider h2{
    color: rgb(201, 196, 193);
    font-size: ;
    font-family: "Noto Sans Display", serif;
    font-weight: 200;
    text-shadow: .2rem .15rem 5px rgb(164, 164, 167 .4);
    
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 16, 16);
}

.img-wrapper img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.banner {
    
    position: absolute;
    top: 5%;
    left: 50%
    
}


    
    



#slider {

    width: 100px;
    max-width: 100px;
    height: 25vw;
    max-height: 100px;
    top: 50%;
    left: 30%
}

#slider img{
   
    opacity: 0;
    position:absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: opacity 80ms;
}

#slider img.selected { 
    opacity: 1;
}



.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    margin: 5px;
}

#linha-horizontal {
    width: 200px;
    border: 1px solid rgb(136, 27, 27);
    
}



